.comics-container {
  background-color: rgb(199, 199, 199);
  width: 45%;
  text-align: center;
 
}

.comics-container h1 {
  text-align: left;
  margin-bottom: 4.5px;
}

.comic-collection {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.comic-thumbnail {
  opacity: 0.9;
}

.comic-thumbnail:hover {
  transition: 0.5s ease;
  transform: rotate(3deg);
  box-shadow: 4px 7px 19px 0px rgba(0, 0, 0, 0.75);
  opacity: 1;
  cursor: pointer;
}
